<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template.html :: head"> </head>
<body>
<div th:include="fragments/template.html"></div>
<div th:if="${user.email}">
    <h3 align="center">Добро пожаловать, <b th:text="${user.name}"></b></h3><hr>
    <form action="/logout" method="post">
        <input type="hidden" th:value="${_csrf.token}" name="_csrf">
    </form>
</div>
<h2 align="center"><b>Список товаров</b></h2>
<hr>
<h4 style="text-align: center">Поиск товаров</h4>
<form method="get" action="/" style="width: 1000px; margin-right: auto; margin-left: auto">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="searchCity">Город</label>
            <select id="searchCity" class="form-control" name="searchCity">
                <option value="">Выбор города</option>
                <option value="Москва" th:selected="${searchCity == 'Москва'}">Москва</option>
                <option value="Красноярск" th:selected="${searchCity == 'Красноярск'}">Смоленкс</option>
                <option value="Казань" th:selected="${searchCity == 'Казань'}">Санкт-Петербург</option>
            </select>
        </div>
        <div class="form-group col-md-10">
            <label for="searchWord">Поиск по магазинам</label>
            <input type="text" name="searchWord" th:value="${searchWord}" class="form-control" id="searchWord">
        </div>
        <button style="width: 100%" type="submit" class="btn btn-dark">Поиск</button>
    </div>
</form> <hr>
<div th:if="${#lists.isEmpty(products)}">
    <p>Товаров нет</p>
</div>
<div class="d-flex flex-wrap justify-content-around">
    <div th:each="product : ${products}" class="col-md-4 mb-4">
        <div class="card text-white bg-dark h-100">
            <img th:src="@{/images/{id}(id=${product.getImages().get(0).getId()})}" class="card-img-top" style="object-fit: cover; height: 300px;">
            <div class="card-body">
                <h5 class="card-title" th:text="${product.title}"></h5>
                <p class="card-text" th:text="${product.price} + ' рублей'"></p>
            </div>
            <div class="card-footer">
                <a th:href="@{/product/{id}(id=${product.id})}" class="btn btn-light">Подробнее</a>
            </div>
        </div>
    </div>
</div>


<th:block th:if="${user.isAdmin()}">

</th:block>
</body>
</html>
